:root {
	--primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;
	--snackin-color: #6400aa;
	--orange-color: #FF5F00;

	--light-color: #212529;
	--light-second-color: #727475;
	--light-background: #ffffff;
	--light-second-background: #f1f1f1;

	--dark-color: #909090;
	--dark-second-color: #f5f6fa;
	--dark-background: #23242D;
	--dark-second-background: #181818;
}

.light {
	--main-bg-color: var(--light-background);
	--second-bg-color: var(--light-second-background);
	--main-color: var(--light-color);
	--second-color: var(--light-second-color);
}

.dark {
	--main-bg-color: var(--dark-background);
	--second-bg-color: var(--dark-second-background);
	--main-color: var(--dark-color);
	--second-color: var(--dark-second-color);
}

.light .logo-dark, .light .light-icon {
	display: none;
}

.dark .logo-light, .dark .dark-icon {
	display: none;
}

.bg-primary {
  background: var(--primary-color);
}

.bg-success {
  background: var(--success-color);
}

.bg-warning {
  background: var(--warning-color);
}

.bg-danger {
  background: var(--danger-color);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--main-bg-color);
	color: var(--main-color);
	margin: 0;
}



.wrapper {
	padding: 10px;
	margin-left: 0px;
	padding-top: 0px;
	background: var(--second-bg-color);
	transition: margin-left .5s;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.row:after, .row:before {
	box-sizing: border-box;
}

[class*="col-"] {
	padding: 10px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
	.sidebar {
		width: 0;
	}
	.wrapper {
		margin-left: 0;
	}
	.sidebar-expand .wrapper {
		margin-left: 0;
	}
	.nav-right .nav-item {
		display: none;
	}
	.nav-right .mode, .nav-right .avt-wrapper {
		display: list-item;;
	}
	.navbar-search {
		display: none;
	}
	.dropdown-menu {
		max-width: 300px;
	}
	[class*="col-"] {
		width: 100%
	}
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
}

.counter {
	padding: 16px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.couner i {
	font-size: 50px;
}

.card {
	background: var(--main-bg-color);
	color: var(--main-color);
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
	padding: 15px 30px;
	border-bottom: 1px solid var(--second-bg-color);
	position: relative;
}

.card-header i {
	color: var(--main-color);
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.card-header i:hover {
	cursor: pointer;
}

.card-header h3 {
	margin: 0;
}

.card-content {
	padding: 20px;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table td {
	border-top: 1px solid var(--second-bg-color);
	padding: 15px;
}

table th {
	border-top: 1px solid var(--second-bg-color);
	border-bottom: 1px solid var(--second-bg-color);
	padding: 15px 12px;
	text-align: left;
}

.dot i {
	display: inline-block;
	width: .385rem;
	height: .385rem;
	margin-right: .385rem;
	vertical-align: middle;
	border-radius: 50%;
}

.progress-wrapper {
	margin-bottom: 15px;
}

.float-right {
	float: right;
}

.progress {
	height: 10px;
	overflow: hidden;
	display: flex;
	font-size: .75rem;
	background: rgba(0,0,0,0.05);
	border-radius: .25rem;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


#online_button:hover {
	background-color: #70b950;
}

#offline_button:hover {
	background-color: #fa5351;
}

.remote_access_terminal {
	display: grid;
	grid-template-columns: repeat(auto-fit , minmax(250px,auto));
}

.form_remote {
	margin: 10px 20px 10px 0px;
	justify-self: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form_remote *{
	border-width: 0;
	border-radius: 5px;
	width: 100%;
	margin: 0.25em 0;
}

.line {
	display: flex;
	flex: 1 1;
	flex-direction: row;
}

form input{
	height: 35px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 100%;
}

.line form input{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 100%;
}
.line > div > input{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 100%;
}

.green_button {
	background-color: #6AB04C;
	color: white;
}

.green_button:hover {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
	background-color: #7dbf60;
}

.red_button {
	background-color: #EB4D4B;
	color: white;
}

.red_button:hover {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
	background-color: #f56b69;
}

.orange_button {
	background-color: #F0932B;
	color: white;
}

.orange_button:hover {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
	background-color: #f4ab59;
}

.grey_button {
	background-color: #E4E4E4;
	color: #555555;
}

.grey_button:hover {
	background-color: #ededed;
}

#commandOUT {
	width: inherit;
	height: inherit;
	resize:none;
	white-space: pre-wrap;
	border-radius: 10px !important;
  border: 1px solid black !important;
}

.output_remote_wraper {
	align-self: center;
	justify-self: center;
	height:400px;
	width: 100%;
}

.separator_1 {
	width: 40px;
}

.separator_2 {
	width: 20px;
}

.ohc_container {
	height: 35px;
}

.on_hover_change {
	height: 100%;
	width: 100%; 
	position: relative;
	overflow: hidden;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.on_hover_change > input {
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
}

.on_hover_change > label {
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
}

.on_hover_change > .animate {
	border-radius: 0px !important;
	width: 90%;
	box-shadow: 0px 0px 0px;
	position: absolute;
	top:0;
	left: -100%;
	transition: left, 1s ease;
}

.confirm_toogle:checked + .animate {
	left:0;
}

.confirm_toogle {
	visibility: hidden;
}


#updateALL {
	display: flex;
	justify-content: space-around;
}

#updateALL * {
	height: 35px;
	border-radius: 5px;
}

.confirm_button {
	height: 100%;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

